    <tr>
        <td width="1%">
        	<b><%= link_to comment.user.username, user_url(comment.user), :style =>"color:gray" %>:</b>
        </td>
        <td>
        	<%= comment.content %>
        </td>
    </tr>
